.container-fluid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}
.sidebar-menu {
  padding: 0;
  background-color: rgb(36, 41, 46);
  margin: 0;

  height: 100%;
}
.dashboard {
  padding: 0;
  margin: 0;
  background: whitesmoke;

  height: 100%;
  width: 100vw;
}
