/* form {
  position: relative;
  left: 60%;
} */
.navbar {
  background: rgb(36, 41, 46);
  color: white;
}
.user-icon {
  width: 30px;
  height: 30px;
  margin: 12px;
  background: rgb(96, 80, 205);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.dropdown {
  height: 100%;
  padding: 18px;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.5);
}

form {
  width: 200px;
  height: 30px;
  margin: 0;
  display: inline-block;
}
form input {
  width: 200px;
  background: none;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}
